
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* box-shadow: 0 24px 7px 0 rgba(238, 231, 226, 0.877); */
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    background: whitesmoke;


  }
  


   
             .topnav 
                {
                    overflow: hidden;
                    background-color:transparent;
                    
                }  
   
                .admin_image
                {
                  width:50px;
                  height:50px;
                  margin-right:95px;
                  margin-top:-60px;
                  float: right;
                  position: static;
                }

                .position_image_drop
                {
                  /* width:50px;
                  height:50px;
                  margin-right:88px;
                  margin-top:-6px;
                  float:right; */
                  /* width:50px;height:50px;margin-right:88px;margin-top:-6.5%;float:left;
                    padding-left: 50px;
                    display: grid; */
                    display: flow-root;
                    position: static;
                }  


               
              /*Housekeeper Image is on right side*/       

            @media(max-width: 740px) 
                    {
                        .admin_image
                        {
                          width:50px;
                          height:50px;
                          margin-right:70px;
                          margin-top:20px;
                          float: right;
                          position: static;
                        }

                        .dropdown 
                        {
                          position: absolute;
                          float: right;
                          display: block;
                          left: 155px; 
                          padding-top: 25px;
                          margin-top: 55px;
                          
                        }
                        
                        .dropdown-content {
                          display: none;
                          position: relative;
                          background-color: #f1f1f1;
                          min-width: 160px;
                          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                          z-index: 1;
                          margin-left: 900px;
                          margin-right: 180px;
                        }
                        
                    }



/*Drop menu arrow hide*/



.dropdown {
  position: absolute;
  float: right;
  margin-right: 55px;
  display: block;
  outline-color: none;
  outline-style: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 900px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: /*#3e8e41;*/}




/* Do not remove the below code */

/* .dropdown-toggle::after
{
  display:none !important;
} */


/*Here the code finishes of the drop down menu*/


.nav-bar
{
    font-size:25px;
}
    a.ex1:hover, a.ex1:active 
    {
        color:grey;
    }

  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding:30px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color:rgba(148, 150, 148, 0.356);
    color: black; 
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: black;
  }
  
  .topnav .icon {
    display: none;
  }
  



  /* @media screen and (max-width: 824px) {
    .topnav a:not(:first-child) {display: none;}
     .topnav a.icon {
      float: left;
      display: block;
    } 
  }
  
  @media screen and (max-width: 824px) {
    .topnav.responsive {position: relative;}
     .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    } 
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    
  } */
  
  
  @media screen and (max-width: 699px) {
      .img
      {
  height:160px;
      }
  }
  
  
  @media screen and (max-width: 500px) {
      .topnav,.img,.admin_image,.dropdown,.dropdown-content
      {
          display:none;
          
      }  
      
      .topnav,.icon
      {
          display:none;
      }
  }
  
  
  /*Side Bar of a page*/
  /*Do changes Here*/
  .sidebar {
    height: 100%;
    width: 42px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#111;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  
  .sidebar{
  border-right:1px solid #e5e5e5;
  position:absolute;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:42px;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .04s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:1000;
  }
  
  
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main { 
      /*margin-left: 210px;*/
    margin-left: 80px; /* Same as the width of the sidenav */
    padding: 50px 15px;
    position:absolute;
  }
  
  /* Screen Size:1280 x 1024  */

  @media screen and (max-width: 7000px) {
      .sidebar
      {
          display:none;
      }    
      .sidebar a
      {
          display:none;
      } 
  }
  
  @media screen and (max-width: 500px) {
      .sidebar
      {
          display:inline-block;
      }  
      
      .sidebar a
      {
          display:block;
      }
   
  }
  
  
  .sidebar:hover,sidebar.expanded {
  width:220px;
  overflow:visible;
  position:absolute;
  }
  
  
  
  .sidebar li {
  position:relative;
  display:block;
  width:250px;
  }
  
  /*Do not remove this code, it is for orientation*/
  
    /*@media (orientation: landscape)  and (max-height: 1500px) 
     {
           .topnav,.img
                  {
                   display:none;
               }  
      
              .topnav .icon
              {
                  display:none;
              }	
     }
  
   @media (orientation: portrait)  and (max-width: 1200px) 
     {
           .topnav,.img
                  {
                   display:block;
               }  
      
              .topnav .icon
              {
                  display:block;
              }	
     }
  */
  .fa-2x {
  font-size:1.0em;
  }